
.Pie {
  overflow:hidden;
  position: relative;
  border: dashed 2px;
  height: 15em;
  width: 15em;
  // top: 70px;
  // width: 40%;
  margin: auto 2em;
  // height: 0;
  // width: 20em;
  // padding-bottom: 40%;
  border-radius: 50%;
}

.ProgressBar {
    height: 1em;
    // width: 90%;
    left: 10px;
    background-color: #2B5C22;
    border-radius: 5px;
}
