
.Pie {
  overflow:hidden;
  position: relative;
  border: dashed 2px;
  height: 15em;
  width: 15em;
  // top: 70px;
  // width: 40%;
  margin: auto 2em;
  // height: 0;
  // width: 20em;
  // padding-bottom: 40%;
  border-radius: 50%;
}

.ProgressBar {
    height: 1em;
    // width: 90%;
    left: 10px;
    background-color: #2B5C22;
    border-radius: 5px;
}

.Legend {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    padding-left: 10px;
}

.LegendNoise, .LegendProjects {
    // display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;

}
.LegendNoise {
    display: inline-block;
    background-color: grey;
}
.LegendProjects {
    background-color: #2B5C22;
}
