.Calculator {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.AddContent {
    position: relative;
    top: 80px;
    // height: 40%;
    // overflow: scroll;
}

.Overview {
    background-color: #DEF3D9;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 360px;
}

.TextSummary {
    margin: auto 0;
    font-weight: bold
}

.BtnAddProject {
     background-color: #2B5C22;
     font-weight: bold;
     color: white;
     padding: 5px 8px;
     // border: 2px solid black;
     box-shadow: 2px 2px 1px grey;
     border-radius: 4px;
     float: right;
}

.Header {
    display: flex;
    flex-direction: row;
    height: 200px;
}
