.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.NavigationItems li {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    /* width: 100%; */
    width: 96px;
    align-items: center;
}

.NavigationItems a {
    color:  black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItems a:hover,
.NavigationItems a:active,
.NavigationItems a.active {
    color: #def3d9;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }

    .NavigationItems li {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
    }

    .NavigationItems a {
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavigationItems a:hover,
    .NavigationItems a:active,
    .NavigationItems a.active {
        background-color: rgba(0,0,0,0.2);
        border-bottom: 4px solid grey;
        color: black;
    }
}
