.SelectCategories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.PlannedContent {
    width: 90%;
}

.ExampleItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    height: 20%;
}

.ExampleItem {
    height: auto;
    width: 30%;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #CCC;
    cursor: pointer;
}
